<a href="https://colab.research.google.com/github/lcbjuk/IBMEC/blob/master/IBMEC9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Apriori**

In [2]:
!pip install mlxtend

Requirement already satisfied: mlxtend in /usr/local/lib/python3.6/dist-packages (0.14.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from mlxtend) (46.0.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (0.22.2.post1)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (3.2.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.18.2)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (0.25.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18->mlxtend) (0.14.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.4.6)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib>=1.5.1->mlxtend) (1.12.0)

In [3]:
import pandas as pd
mercado = pd.read_csv('http://raw.githubusercontent.com/lcbjuk/ML/master/dados/mercado%20-%20ok.csv')
mercado.head()

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

association_rules(apriori(mercado,min_support=0.5,use_colnames=True))

       antecedents consequents  antecedent support  ...  lift  leverage  conviction
0          (refri)    (batata)            0.666667  ...   1.2  0.111111         inf
1         (burger)    (batata)            0.666667  ...   1.2  0.111111         inf
2  (refri, burger)    (batata)            0.500000  ...   1.2  0.083333         inf

[3 rows x 9 columns]

**Exercicio Apriori**

In [5]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

train = pd.read_csv( 'http://raw.githubusercontent.com/lcbjuk/ML/master/dados/RiscoCredito%20-%20hot_enc.csv')
train

    Inadimplente  Genero_M  fund_incomp  ...  youtuber  programador  Renda_Alta
0              1         1            0  ...         0            0           0
1              0         0            0  ...         1            0           0
2              0         1            0  ...         1            0           1
3              0         1            0  ...         1            0           1
4              0         1            0  ...         1            0           1
..           ...       ...          ...  ...       ...          ...         ...
95             1         1            0  ...         0            0           0
96             1         1            0  ...         0            0           0
97             0         0            0  ...         0            1           0
98             0         1            0  ...         0            1           1
99             0         1            0  ...         0            1           1

[100 rows x 14 columns]

In [6]:
regras = association_rules(apriori(train, min_support=0.24,use_colnames=True ))
regras

                 antecedents             consequents  ...  leverage  conviction
0                (fund_comp)          (Inadimplente)  ...    0.1677         inf
1                 (corretor)          (Inadimplente)  ...    0.1053         inf
2              (programador)              (Genero_M)  ...    0.0486       1.972
3               (Renda_Alta)              (Genero_M)  ...    0.1088         inf
4              (programador)            (Renda_Alta)  ...    0.1472       3.944
5  (programador, Renda_Alta)              (Genero_M)  ...    0.0816         inf
6    (programador, Genero_M)            (Renda_Alta)  ...    0.1632         inf
7              (programador)  (Renda_Alta, Genero_M)  ...    0.1472       3.944

[8 rows x 9 columns]